<apex:page standardController="Quote" extensions="ImportMNTLinesController" tabStyle="Quote" title="Import MNT Lines">

    <apex:form >
        <apex:pageBlock title="Import MNT Lines">

        <apex:outputPanel rendered="{!errorPanel}">
                    <div class="message">
                    <table>
                        <tr>
                            <td style='padding: 0 15px 0 5px;'><apex:image value="{!URLFOR($Resource.FileMaker, 'images/error24.png')}" />
                            </td>
                            <td style='padding: 0 15px 0 5px;'><font color="red">
                            <h4>Error</h4>
                            </font></td>
                        </tr>
                        <tr>
                            <td style='padding: 0 15px 0 5px;'>&nbsp;</td>
                            <td style='padding: 0 15px 0 5px;'>{!errorMessage}</td>
                        </tr>
                    </table>
                    </div> <br/>
        </apex:outputPanel>


           <apex:pageBlockButtons location="bottom">
                    <apex:commandButton action="{!importMntLines}" value="Import MNT Lines"/>
                    <apex:commandButton action="{!cancel}" value="Cancel"/>
           </apex:pageBlockButtons>
         
           <apex:pageBlockSection columns="2">
               <apex:pageBlockSectionItem >
                 <b>Quote ID:  </b>
                 <a href="/{!quote.Id}" target="_blank"> {!quote.QuoteNumber} </a>
               </apex:pageBlockSectionItem>
           </apex:pageBlockSection>
            
           <apex:pageBlockSection title="Quote Line Items" id="qli">
              <apex:pageBlockTable value="{!qlis}" var="item">
                <apex:column style="text-align:left;" headerValue="Product"> 
                  <apex:selectList value="{!item.selectedSKU}" size="1">
                    <apex:selectOptions value="{! item.skus}"/>
                   </apex:selectList>
                </apex:column>
                
                <apex:column style="text-align:center;" headerValue="Product Family" value="{!item.productFamily}"/> 
                <apex:column style="text-align:center;" headerValue="Quantity" value="{!item.qli.Quantity}"/> 
                <apex:column style="text-align:center;" headerValue="MAS Contract End Date" value="{!item.qli.MAS_Contract_End_Date__c}"/>
                <apex:column style="text-align:center;" headerValue="Contract #" value="{!item.qli.MAS_Maintenance_Contract_Number__c}"/>  
             </apex:pageBlockTable> 
          </apex:pageBlockSection>            
         
         </apex:pageBlock>
    </apex:form>
    

</apex:page>